<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quicksell_homescreen</title>
	<link href="css/homescreen.css" rel="stylesheet">
</head>
<body>
	<p class="instruction">Let us help you build an organized and standardized product description for your furniture!</p><br><br>
	<button onclick="location.href='./library'">Build with template</button><br><br>
	<button onclick="myFunction()">Build History</button>
	<script>
	function myFunction() {
		alert("It’s still in the process of making or deleting according to future working hours");
	}
</script>

</body>
</html>
