<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quicksell</title>
	<link href="css/homescreen.css" rel="stylesheet">
</head>
<body>
	<p>Let us help you build an organized and standardized product description for your furniture!</p>
	<div class="btn">
		<a><button id="Build with Template" onclick="/form">Build with template</button></a>
		<button id="Build History" onclick="history.back()">Build History</button>
	</div>

</body>
</html>
