<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quicksell_login</title>
	<link href="css/login.css" rel="stylesheet">
</head>
<body>
  <form action="/index">
    <div class="pc">
      <img src="../images/login.png" alt="Login picture" class="logpc">
    </div>
    <div class="container">
      <label><b>Username</b></label>
      <input id="un" type="text" placeholder="Enter Username" required>

      <label><b>Password</b></label>
      <input id="pw" type="password" placeholder="Enter Password" required>

      <label class="checkb">
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
			<span class="psw";>Forgot <a href="#">password?</a></span>
		</div>
		<div class="btn">
		  <button type="submit">Login</button>
    </div>


  </form>
</body>
</html>
