<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quicksell</title>
	<link href="css/preview.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/0b253fb25d.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="header">
    <div class="header-content header-left" style="font-size: 13px;" onclick="location.href='./index'">
      <button class="back-button"></button>
      Back to edit
    </div>
    <div><b>Preview</b></div>
    <div class="header-content header-right" style="font-size: 13px;" onclick="location.href='./share'">
      Save & Share
      <button class="back-button" style="transform: rotate(180deg);"></button>
    </div>
  </div>
  
  <div class="preview-content">
    <div class="test-content"></div>
  </div>
</body>
</html>