<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quicksell</title>
	<link href="/css/preview.css" rel="stylesheet">
  <link href="/css/share.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/0b253fb25d.js" crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
  <script src="/js/share.js"></script>
</head>
<body>
  {{!-- <div class="header">
    <div class="header-content header-left" style="font-size: 13px;" onclick="location.href='/preview/{{templateId}}'">
      <button class="back-button"></button>
      Back
    </div>
    <div><b>Save and Share</b></div>
  </div>
  <div class="saved-content-container">
      <img src="../images/description-img.png" alt="description placeholder" class="description-img">
  </div> --}}

  <div id="content">
            <h3>Hello, this is a H3 tag</h3>
            <p>a pararaph</p>
        </div>
        <div id="editor"></div>
        <button id="cmd">generate PDF and Image</button>

  {{!-- <div>Product Description Created!</div>
  <div>Sharable Link Generated!</div>
  <a>https://a6-quicksell.herokuapp.com/sharable</a>

  <div class="divider">
    <div class="line"></div>
    Share
    <div class="line"></div>
  </div>

  <div class="share-icon-container">
    <a class="share-icon" href="https://www.facebook.com/sharer/sharer.php?u=https://a6-quicksell.herokuapp.com/sharable" target="_blank">
      <i class="fab fa-facebook-square icon"></i>
      Facebook 
    </a>
    <a class="share-icon" href="https://twitter.com/share?url=https://a6-quicksell.herokuapp.com/sharable&text=chair" target="_blank">
      <i class="fab fa-twitter-square icon"></i>
      Twitter
    </a>
    <a class="share-icon" href="https://www.linkedin.com/shareArticle?url=https://a6-quicksell.herokuapp.com/sharable&title=chair" target="_blank">
      <i class="fab fa-linkedin icon"></i>
      LinkedIn
    </a>
  </div>

  <button class="button" id="build-description" type="submit" onclick="location.href='/index?remember=on'">Build Another Description</button> --}}
</body>
</html>