<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quicksell</title>
  <link href="css/preview.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/0b253fb25d.js" crossorigin="anonymous"></script>


  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/library.js"></script>

  <script src="js/bootstrap.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">

</head>

<body>
    <div style="background-color: white;">
      <!--Funiture pictures-->
      <div class="img-container">
        <a class="prev" onclick="addnum(-1)">&#10094;</a>
        <a class="next" onclick="addnum(1)">&#10095;</a>
        <br />

        {{#each templates}}
        <div class="tempic set">
          <img src="images/{{image}}" class="img">
        </div>
        {{/each}}
      </div>

      <!--Funiture Information-->
        <h1 style="font-size: 20px;">Leather High-Back Chair</h1>
        <h2 style="color: #745452;">$109.9</h2>
        
        <div class="dimensions">
          <div>Length: &nbsp;&nbsp;22in</div>
          <div>Width: &nbsp;&nbsp;31in</div>
          <div>Height: &nbsp;&nbsp;46in</div>
          <br />
          <div>Condition: &nbsp;&nbsp;Good</div>
        </div>
        <p class="info" id="description">Weight capacity tested to support 275 lbs. Meets and/or exceeds ANSI/BIFMA performance standards. Only used
          for a month, almost no wear</p>

      <!--Contact Information-->
      <div class="contact">
        <div style="color: #745452;">Contact</div>
        <div style="font-size: 18px;">xding@ucsd.edu</div>
        <div style="color: #745452;">for more information</div>
      </div>

    </div>
  {{!-- </main> --}}

  <script>
    var picnum = 1;
    picshw(picnum);
  </script>
</body>

</html>