<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quicksell</title>
	<link href="css/preview.css" rel="stylesheet">
  <link href="css/share.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/0b253fb25d.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="header">
    <div class="header-content header-left" style="font-size: 13px;" onclick="location.href='./index'">
      <button class="back-button"></button>
      Back
    </div>
    <div><b>Save and Share</b></div>
  </div>
  <div class="saved-content-container">
    <div class="saved-content"></div>
  </div>

  <div>Product Description Created!</div>
  <div>Sharable Link Generated!</div>

  <div class="divider">
    <div class="line"></div>
    Share
    <div class="line"></div>
  </div>

  <div class="share-icon-container">
    <a class="share-icon" href="https://www.facebook.com/sharer/sharer.php?u=https://quicksell-team14.herokuapp.com/" target="_blank">
      <i class="fab fa-facebook-square icon"></i>
      Facebook 
    </a>
    <a class="share-icon" href="https://twitter.com/share?url=https://quicksell-team14.herokuapp.com/&text=FurnitureName" target="_blank">
      <i class="fab fa-twitter-square icon"></i>
      Twitter
    </a>
    <a class="share-icon" href="https://www.linkedin.com/shareArticle?url=https://quicksell-team14.herokuapp.com/&title=FurnitureName" target="_blank">
      <i class="fab fa-linkedin icon"></i>
      LinkedIn
    </a>
  </div>
</body>
</html>