/*Begin page css style */

body {
  /* background-image: url(../images/begin.jpg); */
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  text-align: center;
  font-size: 150%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}

button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  background-color: #EAC7C7;
  width: 60%;
  height: 50px;
}

p.instruction {
  width: 80%;
}