.next{
  right: 0;
}

.prev, .next {
  position: absolute;
  top: 40%;
  padding: 16px;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
}

.tempic{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  box-sizing: border-box;
}

.img{
  /* margin-top: 8%; */
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #EBDCD1;
  border: none;
  outline: none;
  font-size: 18px;
  color: #634040;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 45px;
  width: 80%;
  font-weight: normal;
  margin: 5% 10% 0;
  position: absolute;
  bottom: 30px;
}

.set {
  animation-name: set;
  animation-duration: 1s;
}

@keyframes set {
  from {opacity: .3}
  to {opacity: 1}
}

.text{
  margin-top:10px;
  width: 100%;
  text-align: center;
}